<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Evaluation teacher</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>

    <body>
        <div class="navbar navbar-default navbar-static-top" role = "navigation">
            <div class = "container">
                <div class = "navbar_header">
                    <a class="navbar-brand" href = "/">Home</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="usermenu"><span class="login">Vous êtes connecté anonymement (<a href="/login">Connexion</a>)</span></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class = "container">
            <h1>Welcome to Page Accueil</h1>
        </div>
    </body>
</html>