<%- include('../_partial/_head'); -%>
 

    <h1 style="color: tomato;">Projet d'application</h1>
    <section class="post-list">
        <div class="post-list-header">
          <h3><b>Membres du groupe </b></h3>
          <ol><b>
              <li>TRAN The Nhan</li>
              <li>NGUYEN Hoang Long</li>
              <li>TONG Ngoc Chung</li>
              <li>Geny Yanis</li>
              <li>Nzeket Aicha</li></b>
          </ol>
            <h4><b>Encadrant: J.Briffaut</b></h4>

        </div>
        <h4><b>Sujet 20 : Site Web d’évaluation continue des enseignements</b></h4>

        <p>
            Sujet: L’objectif de ce projet est de concevoir un site web permettant une évaluation continue des enseignements.<br>
            Les étudiants pourront, de manière anonyme, mettre des commentaires au fur et à mesure des séances de cours/TDs/TPs.<br>
            Ces commentaires seront modérés par les délégués, puis visibles par le responsable du module.
        </p>
      </section>
      <a href="source" class="btn btn-primary mt-5">Source code et les utiliser ici </a>
    <%- include ('../_partial/_footer'); -%>