<%- include('../_partial/_head'); -%>

<h1>Welcome to the add questions</h1><br \>

<form name="my_form" class="form-horizontal" method="POST" >
 
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Questions</label>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                    <input type="checkbox" name="type" id="optionsRadios3" value="0">
                    Comment avez-vous trouver le cours ?                     
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                    <input type="checkbox" name="type" id="optionsRadios3" value="1">
                    Comment avez-vous trouver le TD ?                         
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                    <input type="checkbox" name="type" id="optionsRadios3" value="2">
                    Comment avez-vous trouver le partiel ?                     
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                    <input type="checkbox" name="type" id="optionsRadios3" value="3">
                    Avez-vous bien compris le cours ?                        
                    </label>
                    </div>      
      
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default">ADD questions</button>
                </div>
            </div>

              

</form>

    <%- include ('../_partial/_footer'); -%>