<%- include('../_partial/_header'); -%>

	<%
		if (param >= 0 && param < data_module.length)
		{
			%>
				<h1>Clef d'inscription de"<%= data_module[param].NAME_MODULE %>"</h1>


				<form method="POST">
					<div class="form-group">
						<label for="example">Clef</label>
						<input type="password"  name="key" required/>
					</div>
					<button type="submit" class="btn btn-primary">M'inscrire</button>
				</form>
			<%
		}
	%>

<%- include('../_partial/_footer'); -%>