<%- include('../_partial/_header'); -%>
<h1> List of Teacher</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">List of module</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <%
            for (var i=0; i < data.length; i++)
            {
                %>
                <tr>
                    <th scope="row"> <%= data[i].ID_USER %> </th> 
                    <td> <%= data[i].USER_NAME %> </td>
                    <td><a href="#" style = "color:blue"> Modules </a></td>
                    <td><a href="#" style = "color: red"> Delete </a> </td>
                </tr>
                <%
            } 
        %>  
    </tbody>
  </table>

<%- include ('../_partial/_footer'); -%>