<%- include('../_partial/_head'); -%>
    <a href="about" class="btn btn-primary mt-5">Go Back </a>
    <h2>Source code et install les outils</h2>
    <h3><ol>
            <li>Source code</li>
            <ul><a href= " https://github.com/nglong0304/projet_application"target="_blank"> lien de source code </a></ul>
            
            <li>Install les outils</li>
            <ul>
                <li>npm init</li> 
                <li>npm install express</li>
                <li>npm install mariadb</li>
                <li>npm install md5</li>

            </ul>

    </ol>
    </h3>
<%- include ('../_partial/_footer'); -%>